<h2>Your score</h2>

<ul>
  <li>Time : <%= @score[:time] %></li>
  <li>Score : <%= @score[:score] %></li>
  <li>Message : <%= @score[:message] %></li>
  <li>Number of games : <%= @number_of_games %></li>
</ul>
